BasedOnStyle: Microsoft
IndentWidth: 4
SpaceBeforeParens: Never
BreakBeforeBraces: Attach
ColumnLimit: 180
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignEscapedNewlines: true
AlignTrailingComments: true
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveMacros: true
SpaceAfterTemplateKeyword: false
SpacesInAngles: false