# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Test files
tests/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
data/bios.bin
data/bios.gb
Makefile
*~
saves/*.sav
movies/
data/gbc_bios.bin
gb/*
gbc/*
data/97d3585f6b5e7b5730f9cb1ab5f31192.34250.png
data/Game_Boy_Color_(logo).svg
data/gb_logo.xcf
data/Border.xcf
build*
